{{define "specific" -}}
<div class="data-div" id="app">
    <h1>
        Masternodes
        <span style="font-size:13px">(<span v-html="countMasternodes"></span>)</span>
    </h1>
    <table class="table table-striped data-table table-hover">
        <thead>
            <tr>
                <th class="text-center" style="width: 50px">Rank</th>
                <th style="width: 330px">Address</th>
                <th style="width:250px" class="text-left">IP</th>
                <th class="text-center" style="width: 10%;">Status</th>
                <th class="text-center" style="width: 10%;">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="masternode in masternodes" v-bind:key="masternode.addr">
                <td class="text-center" v-html="masternode.rank"></td>
                <td v-html="masternode.addr"></td>
                <td class="text-left" v-html="masternode.host"></td>
                <td class="text-center" v-html="masternode.status"></td>
                <td class="text-center" v-html="masternode.button"></td>
            </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script src="https://unpkg.com/axios@0.20.0-0/dist/axios.min.js"></script>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            masternodes: {},
            countMasternodes: 0
        },
        async mounted() {
            const app = this;
            const api = await axios.get('/api/v2/masternodes/');
            for (let k in api.data.result) {
                api.data.result[k].button = '<a href="/address/' + api.data.result[k].addr + '"><button type="button" class="btn btn-primary btn-sm">Details</button></a>';
            }
            app.masternodes = api.data.result;
            app.countMasternodes = app.masternodes.length
        }
    })
</script>
{{- end -}}