{{define "specific" -}}
<h1>Masternodes</h1>
<div class="data-div" id="app">
    <table class="table table-striped data-table table-hover">
        <thead>
            <tr>
                <th style="width: 10%;">Rank</th>
                <th>Address</th>
                <th>Last seen</th>
                <th>Last Reward</th>
                <th>IP</th>
                <th class="text-right" style="width: 10%;">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="masternode in masternodes" v-bind:key="masternode.addr">
                <td>{{ masternode.rank }}</td>
                <td>{{ masternode.addr }}</td>
                <td>{{ new Date(masternode.lastseen) }}</td>
                <td>{{ new Date(masternode.lastpaid) }}</td>
                <td>{{ masternode.host }}</td>
                <td>{{ masternode.status }}</td>
            </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script src="https://unpkg.com/axios@0.20.0-0/dist/axios.min.js"></script>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            masternodes: {}
        },
        async mounted() {
            const app = this
            const api = await axios.get('/api/v2/masternodes/')
            app.masternodes = api.data.result
        }
    })
</script>
{{- end -}}